# Cmake
**/bin/
**/build/
# CMakePresets.json # no i need it and perhaps the UserPresets too bc i'd need to change the cache vars
CMakeUserPresets.json
*cmake_install.cmake
*cmake_uninstall.cmake
*CMakeFiles/
*CMakeCache.txt

# Build systems
*Makefile
# Ninja
**build.ninja
**build-Release.ninja
**build-Debug.ninja
**rules.ninja
**.ninja_deps
**.ninja_log
*compile_commands.json

# IDEs
.idea/**
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Add back clion run config (if you want)
#!.idea/runConfigurations/

# Other
*imgui.ini
renderdoc-settings.cap